/*Body text style*/
$base-font-family: "Lora", serif;
$base-font-size: 18px;

/*Headers style*/
$header-font-family: "Roboto", sans-serif;
$header-color: #484c50;

$base-section-height: 100vh;
$section-padding-top: 120px;

$base-list-padding: 1rem;
$base-list-margin-bottom: 0;

$base-dark-color: #1d1f21;
$base-light-color: rgb(202, 202, 202);
$base-lighter-color: rgb(238, 238, 238);
$navbar-bg-color: rgba(37, 45, 53, 1);
$navbar-transparent-bg-color: rgba(37, 45, 53, 0.7);
$brand-color: #ff8806;