/*About section*/

#about {
    position: relative;
    margin: 3rem 0 5rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px 5rem 0 7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    p {
        max-width: 730px;
    }
    ul {
        margin-left: 3rem;
        list-style-type: square;
        li::marker {
            color: $brand-color;
        }
    }
}

@media (max-width: 767px) {
    #about {
        padding: 120px 2rem 0 4rem;
    }
}

@media (max-width: 500px) {
    #about {
        padding: 120px 1rem 0 2rem;
    }
}