/*About section*/
#about {
  position: relative;
  margin: 3rem 0 5rem;
  section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 5rem 0 7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    p {
      max-width: 730px;
    }
    ul {
      margin-left: 3rem;
      list-style-type: square;
      li::marker {
        color: $brand-color;
      }
    }
  }

  section:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    width: 60px;
    height: 10px;
    background-color: #ff8806;
  }
}

@media (max-width: 767px) {
  #about {
    section {
      padding: 2rem 2rem 0 4rem;
    }
  }
}

@media (max-width: 500px) {
  #about {
    section {
      padding: 1rem 1rem 0 2rem;
    }
  }
}
