#contacts{
    padding-top: $section-padding-top;
    p{
        max-width: 300px;
    }

    a{
        color: $base-dark-color;
        text-decoration: none;

        &:hover,
        &:focus{
            color: $brand-color;
        }

        &:active{            
            text-decoration: underline;
        }
    }
}