main {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        width: 60px;
        height: 10px;
        background-color: #ff8806;
    }
}

main .container-fluid {
    padding: 0;
    section .row {
        margin: 0;
    }
}