*Schedule section*/
#schedule {
  padding-top: $section-padding-top;
}

.timelines {
  min-width: 600px;
  max-width: 800px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .timeline {
    width: 60%;
    min-height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.7);

    p {
      margin: 0;
      padding: 1rem;
      -webkit-box-flex: 2;
      -ms-flex: 2 1 60%;
      flex: 2 1 60%;
      text-align: right;

      strong {
        color: $header-color;
        font-family: $header-font-family;
      }
    }

    time {
      -webkit-box-flex: 1;
      -ms-flex: 1 2 30%;
      flex: 1 2 30%;
      font-size: 3rem;
      color: $base-lighter-color;
      line-height: 41px; /*150% of base line-height*/
      background-color: #ff8806;
      padding: 1rem 0.5rem;
    }
  }

  .timeline:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-item-align: end;
    align-self: flex-end;

    p {
      text-align: left;
    }

    time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }

  .timeline:nth-child(1)::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 719px) {
  .timelines {
    padding: 1rem;
    min-width: auto;
    .timeline {
      width: 100%;
    }
  }
}
