/*Valley overview section*/
#valley-overview {
  height: $base-section-height;
  background: $base-light-color
    url("../../images/coziness-valley-overview.jpeg") center/cover no-repeat
    fixed;

  &.bg-not-fixed{
    background-attachment: local;
  }
}

