/*Body text style*/
/*Headers style*/
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #1d1f21;
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 27px;
  /*150% of font-size*/
}

h2,
h3 {
  color: #484c50;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 52px;
  margin: 27px 0;
}

ul {
  list-style: none;
  padding: 0;
}

svg {
  fill: #cacaca;
}

svg:hover {
  fill: #fafafa;
}

.navbar {
  padding: 0 0.5em;
  background: #252d35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navbar .vendors-links {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 150px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 0.5rem;
}

.navbar .vendors-links img {
  width: 50px;
  height: 50px;
}

.navbar .nav-items {
  margin-left: 25px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.navbar .nav-items .nav-link {
  color: #cacaca;
  position: relative;
}

.navbar .nav-items .nav-link:hover {
  color: #fafafa;
}

.navbar .nav-items .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #ff8806;
  border-radius: 3px;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.navbar .nav-items .nav-link.active:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.list-item {
  width: 100%;
}

@media (min-width: 720px) {
  .list-item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .list-item {
    width: 40%;
  }
}

a.btn.brand-btn {
  margin: 0;
  border: 2px solid #1d1f21;
  border-radius: 10px;
  color: #1d1f21;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

a.btn.brand-btn:hover, a.btn.brand-btn:focus {
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #ff8806;
          box-shadow: 0 0 0 3px #fff, 0 0 0 6px #ff8806;
}

a.btn.brand-btn:active {
  background: #cacaca;
}

.hero {
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
  background: #252d35;
}

.hero video {
  width: 100%;
}

.hero::after {
  content: "";
  display: block;
  clear: both;
}

main .container-fluid {
  padding: 0;
}

main .container-fluid section .row {
  margin: 0;
}

/*About section*/
#about {
  position: relative;
  margin: 3rem 0 5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 5rem 0 7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#about p {
  max-width: 730px;
}

#about ul {
  margin-left: 3rem;
  list-style-type: square;
}

#about ul li::marker {
  color: #ff8806;
}

#about::before {
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  width: 60px;
  height: 10px;
  background-color: #ff8806;
}

@media (max-width: 767px) {
  #about {
    padding: 2rem 2rem 0 4rem;
  }
}

@media (max-width: 500px) {
  #about {
    padding: 1rem 1rem 0 2rem;
  }
}

/*Valley overview section*/
#valley-overview {
  height: 100vh;
  background: #cacaca url("../../images/coziness-valley-overview.jpeg") center/cover no-repeat fixed;
}

#valley-overview.bg-not-fixed {
  background-attachment: scroll;
}

/*Situation plan section*/
#situation-plan {
  height: 100rem;
  /*min height for larger space on the small screens between section's blocks*/
  background: url("../../images/murmansk-situation-plan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#situation-plan.ios-bg {
  background-size: contain;
  background-position: 60% 70%;
  background-attachment: scroll;
}

#situation-plan .row {
  height: 100%;
}

#situation-plan .row .block {
  padding: 2rem;
}

@media only screen and (min-width: 720px) {
  #situation-plan .row .block {
    padding: 2rem 2rem 2rem 7rem;
  }
}

@media only screen and (min-width: 1024px) {
  #situation-plan {
    height: 60rem;
    background-size: contain;
    background-position: right;
  }
  #situation-plan .row {
    max-width: 60%;
  }
  #situation-plan .row .block {
    margin: 0 auto;
    padding: 2rem;
  }
  #situation-plan .row .block p {
    width: 470px;
  }
}

@media only screen and (min-width: 1280px) {
  #situation-plan .row .block {
    margin: 0 auto;
    padding: 2rem 2rem 2rem 7rem;
  }
  #situation-plan .row .block p {
    width: 650px;
  }
}

/*Participants section*/
#participants {
  padding-top: 120px;
}

#participants h2 {
  margin: 0;
  border-top: 3px solid #1d1f21;
}

#participants .participants-list {
  margin: 0 auto;
  padding: 1rem 1rem 2rem 2rem;
  background-color: #1d1f21;
  color: #cacaca;
}

#participants .participants-list .participants-list-item {
  max-width: 340px;
  margin: 1rem 0;
}

#participants .participants-list .participants-list-item h3 {
  color: #cacaca;
}

@media only screen and (min-width: 720px) {
  #participants .participants-list {
    padding: 1rem 1rem 2rem 2rem;
  }
  #participants .participants-list .participants-list-item {
    margin: 1rem 3rem;
  }
}

#participation-steps {
  padding-top: 120px;
}

#participation-steps .participation-steps-list {
  max-width: 1000px;
  padding: 0;
  list-style: none;
}

#participation-steps .participation-steps-list .participation-steps-item {
  min-width: 300px;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 1.5rem;
}

#participation-steps .participation-steps-list .participation-step-number {
  background: #ff8806;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 7rem;
  font-size: 52px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*Prizes table styles*/
#prizes {
  padding-top: 120px;
}

#prizes .prizes-list {
  position: relative;
  margin: 0 auto;
  padding: 1rem 1rem 2rem 2rem;
}

#prizes .prizes-list .prizes-list-item {
  max-width: 340px;
  margin: 1rem 3rem;
}

#prizes .prizes-list .prizes-list-item table {
  font-size: 1.3rem;
  border-spacing: 0 9px;
  border-collapse: separate;
}

#prizes .prizes-list .prizes-list-item table th {
  color: #484c50;
  font-size: 1.5rem;
  /*Bootstrap's h3 font-size*/
  font-family: "Roboto", sans-serif;
  line-height: 52px;
  margin: 27px 0;
}

#prizes .prizes-list .prizes-list-item table td {
  min-width: 130px;
}

#prizes .prizes-list::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 60px;
  height: 10px;
  background-color: #ff8806;
}

#prizes .prizes-list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 10px;
  background-color: #ff8806;
}

@media only screen and (min-width: 720px) {
  .prizes-list {
    padding: 1rem 1rem 2rem 2rem;
  }
  .prizes-list .prizes-list-item {
    margin: 1rem 3rem;
  }
}

/*Schedule section*/
#schedule {
  padding-top: 120px;
}

.timelines {
  min-width: 600px;
  max-width: 800px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.timelines .timeline {
  width: 60%;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.7);
}

.timelines .timeline p {
  margin: 0;
  padding: 1rem;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 60%;
  flex: 2 1 60%;
  text-align: right;
}

.timelines .timeline p strong {
  color: #484c50;
  font-family: "Roboto", sans-serif;
}

.timelines .timeline time {
  -webkit-box-flex: 1;
  -ms-flex: 1 2 30%;
  flex: 1 2 30%;
  font-size: 3rem;
  color: #fafafa;
  line-height: 41px;
  /*150% of base line-height*/
  background-color: #ff8806;
  padding: 1rem 0.5rem;
}

.timelines .timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.timelines .timeline:nth-child(even) p {
  text-align: left;
}

.timelines .timeline:nth-child(even) time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.timelines .timeline:nth-child(1)::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 719px) {
  .timelines {
    padding: 1rem;
    min-width: auto;
  }
  .timelines .timeline {
    width: 100%;
  }
}

/*Juri list*/
#juri {
  padding-top: 120px;
}

#juri .juri-list {
  max-width: 800px;
}

#contacts {
  padding-top: 120px;
}

#contacts p {
  max-width: 300px;
}

#contacts a {
  color: #1d1f21;
  text-decoration: none;
}

#contacts a:hover, #contacts a:focus {
  color: #ff8806;
}

#contacts a:active {
  text-decoration: underline;
}

footer {
  margin-top: 120px;
  height: 70px;
  background-color: #cacaca;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */