@charset 'utf-8';
@import "http://fonts.fontstorage.com/import/mullernarrow.css";

/* Color Theme Swatches in Hex */
$coziness-valley-brand-colors-1-hex: #07080a;
$coziness-valley-brand-colors-2-hex: #394a59;
$coziness-valley-brand-colors-3-hex: #8a9ba6;
$coziness-valley-brand-colors-4-hex: #d5e7f2;
$coziness-valley-brand-colors-5-hex: #a6483f;

/* Color Theme Swatches in RGBA */
$coziness-valley-brand-colors-1-rgba: rgba(7, 8, 10, 1);
$coziness-valley-brand-colors-2-rgba: rgba(57, 74, 89, 1);
$coziness-valley-brand-colors-3-rgba: rgba(138, 155, 166, 1);
$coziness-valley-brand-colors-4-rgba: rgba(213, 231, 242, 1);
$coziness-valley-brand-colors-5-rgba: rgba(166, 72, 63, 1);

/* Color Theme Swatches in HSLA */
$coziness-valley-brand-colors-1-hsla: hsla(219, 17, 3, 1);
$coziness-valley-brand-colors-2-hsla: hsla(208, 21, 28, 1);
$coziness-valley-brand-colors-3-hsla: hsla(203, 13, 59, 1);
$coziness-valley-brand-colors-4-hsla: hsla(202, 52, 89, 1);
$coziness-valley-brand-colors-5-hsla: hsla(5, 44, 44, 1);

$base-font-family: "Muller Narrow", sans-serif;
$base-font-size: 18px;

$base-section-height: 100vh;
$base-section-padding: 3rem 0rem;

$base-list-padding: 1rem 3rem;
$base-list-margin-bottom: 0;

$base-dark-color: $coziness-valley-brand-colors-1-hex;
$base-light-color: #eee;

@mixin border($width, $style, $color) {
  border: $width $style $color;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-dark-color;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem 0;
  color: $base-dark-color;
  font-weight: bold;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

ul {
  list-style: none;
  padding: 0;
}

.col-12{
    flex:0;
}

/*Stylesheets for sections*/
section.container-fluid {
  padding: $base-section-padding;
}

section .row {
  margin: 0;
}

.brands{
    img{
        max-width: 100px;
    }
}

#valley-overview {
  height: $base-section-height;
  background: $coziness-valley-brand-colors-3-hex
    url("../images/coziness-valley-overview.jpeg") center/cover no-repeat fixed;
}

#situation-plan {
  height: $base-section-height+50;
  background: url("../images/murmansk-situation-plan.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-attachment: fixed;
}

#participants {
  padding-top: 0;
  h2 {
    @include border(3px, solid, $base-dark-color);
  }
}

.participants-list {
  padding: $base-list-padding;
  margin-bottom: $base-list-margin-bottom;
  background-color: $base-dark-color;
  color: $base-light-color;
}

.participants-list-item {
  width: 50%;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 720px) {
  .participants-list-item {
    width: 100%;
  }
}

a.btn.brand-btn {
  margin: 0;
  @include border(3px, solid, $base-dark-color);
  @include border-radius(0);
  border-top: none;
  color: $base-dark-color;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.prizes-list {
  padding: $base-list-padding;
  margin-bottom: $base-list-margin-bottom;
}

.prizes-list-item {
  width: 100%;  
}

@media (min-width: 720px) {
  .prizes-list-item {
    width: 40%;
  }
}

@media (min-width: 1200px) {
    .prizes-list-item {
      width: 30%;
    }
  }


/*Prizes table styles*/
td{
    max-width: 200px;
}